
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body{
   background: linear-gradient(rgb(226, 82, 15) 0%,rgb(186, 218, 8) 50%,rgb(228, 29, 29) 100%);
}

canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}

